[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "testApp/extern/googletest"]
	path = testApp/extern/googletest
	url = https://github.com/google/googletest.git
[submodule "SampleApp/external/googletest"]
	path = SampleApp/external/googletest
	url = https://github.com/google/googletest.git
